
<div class="Contenedor_students_details">
 <b>DETALLES DE ESTUDIANTES!</b>
  <div *ngIf="currentStudent" class="edit-form">
    <h3>Estudiante</h3>
    <form>
      <div class="form-group">
        <label for="title"> <b>Nombre:</b></label>
        <input  type="text" class="form-control" id="fomu1" [(ngModel)]="currentStudent.name" name="title" />
      </div>
      <div class="form-group">
        <label for="description"><b>Apellido:</b></label>
        <input type="text" class="form-control" id="fomu1" [(ngModel)]="currentStudent.apellido"
          name="description" />
      </div>

      <div class="form-group">
        <label><strong>Estado:</strong></label>
        {{ currentStudent.attend ? "attend" : "Ocupado" }}
      </div>
    </form>

    <button id="boton1" class="badge badge-danger mr-2" (click)="deleteStudent()">
     <b>Eliminar</b>
    </button>

    <button id="boton1"  type="submit" class="badge badge-success" (click)="updateStudent()">
    <b>Actualizar</b>
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentStudent">
    <br />
    <p>Acceso denegado a este estudiante</p>
  </div>
</div>
